hr {
    border-color: #35478C;
}

.bg-primary {
  background-color: #35478C;
}

.bg-primary-alt {
   background-color: #e3e3e3;
}

.text-primary {
    color: #35478C;
}

.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand {
    color: white;

}

.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
    color: #87CEEB;
}

header .header-content .header-content-inner p {
    color:white;
}


.btn-primary {
    background-color: #35478C;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #7FB2F0;
    border-color: #7FB2F0;
}

.portfolio-box .portfolio-box-caption {
    background-color: rgba(53,71,140,0.6);
}

a {
    color: #337ab7;
}

a:hover {
   color: #87CEEB;
}

a .navbar-brand .page-scroll {
    color : #87CEEB;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color : black;
}

.navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover {
    color : #87CEEB;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color : #87CEEB!important;
}

.text-justify{
    padding-bottom: 15px;
}

#logo {
    padding-bottom: 15px;
}
